<a href="https://colab.research.google.com/github/byiringiroscar/NLP_FELLOWSHIP/blob/main/Scrap_site_for_charity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [14]:
df = pd.read_csv('/content/charity.csv', error_bad_lines=False)
df.head(2)

<ipython-input-14-79e60b0af336>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('/content/charity.csv', error_bad_lines=False)
Skipping line 10756: expected 17 fields, saw 18

<ipython-input-14-79e60b0af336>:1: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/charity.csv', error_bad_lines=False)

,id,name,charityNumber,companyNumber,postalCode,url,latestIncome,latestIncomeDate,dateRegistered,dateRemoved,active,dateModified,orgIDs,linked_orgs,organisationType,organisationTypePrimary,source
0,GB-CHC-1000000,THE ROYAL ANNIVERSARY TRUST,1000000,NaN,SW1P 3BT,www.royalanniversarytrust.org.uk,154155.0,2022-04-05,1990-08-03,NaN,True,2023-08-08 02:01:05.390831+00:00,['GB-CHC-1000000'],['GB-CHC-1000000'],"['registered-charity', 'registered-charity-eng...",Registered Charity,ccew
1,GB-CHC-1000001,THE ARTS FOUNDATION,1000001,NaN,L1 3BX,www.artsfoundation.co.uk,47963.0,2022-12-31,1990-08-02,NaN,True,2023-08-08 02:01:05.390831+00:00,['GB-CHC-1000001'],['GB-CHC-1000001'],"['registered-charity', 'registered-charity-eng...",Registered Charity,ccew

In [42]:
id="GB-CHC-1000000"
url_links = f"https://findthatcharity.uk/orgid/{id}"
content = requests.get(url_links).content

In [43]:
#Initiating the BS4 parser
page = BeautifulSoup(content, 'html.parser')

clean data

In [44]:
# data cleaning in dataframe
import re

def preprocessing(title):
  title = title.lower()
  url_pattern = re.compile(r'https?://\S+|www\.\S+')
  html_pattern = re.compile('<.*?>')
  title = url_pattern.sub(r'', title)
  title = html_pattern.sub(r'', title)
  title = re.sub(r"[^\w\d'\s]+", ' ', title)
  title = title.lstrip()
  return title

In [51]:
theme_data = page.find('div', 'org-panel-contents w-100 w-70-l fl')
theme_data.get_text()

'\n\n\n\n\nDepending on the data source, location may describe the headquarters of the organisation rather than the area it operates in.\n\nAreas of operation in the UK\n\n\n\n                        England\n                    \n\n\n\n                        Northern Ireland\n                    \n\n\n\n                        Scotland\n                    \n\n\n\n                        Wales\n                    \n\n\n\n\nRegistered Office in the UK\n\n\n\n                        Westminster\n                    \n\n\n\n\n'

Depending on the data source, location may describe the headquarters of the organisation rather than the area it operates in.


Areas of operation in the UK



England




Northern Ireland




Scotland




Wales






Registered Office in the UK



Westminster

In [49]:
json_url = "https://findthatcharity.uk/orgid/GB-CHC-1000007.json"
response = requests.get(json_url)
response_data = response.json()
response_data

{'id': 'GB-CHC-1000007',
 'name': "FRIENDS OF BE'ER MIRIAM",
 'charityNumber': '1000007',
 'companyNumber': None,
 'description': 'Grants to educational institutions',
 'url': None,
 'latestFinancialYearEnd': '2021-12-31',
 'latestIncome': 145562,
 'latestSpending': 146320,
 'latestEmployees': None,
 'latestVolunteers': 0,
 'trusteeCount': 3,
 'dateRegistered': '1990-08-01',
 'dateRemoved': None,
 'active': True,
 'parent': None,
 'organisationType': ['Registered Charity',
  'Registered Charity (England and Wales)'],
 'organisationTypePrimary': 'Registered Charity',
 'alternateName': [],
 'telephone': '02088029842',
 'email': None,
 'location': [{'id': 'IL', 'name': 'Israel', 'geoCode': 'IL', 'type': 'AOO'},
  {'id': 'N15 6BE', 'name': 'N15 6BE', 'geoCode': 'E09000014', 'type': 'HQ'}],
 'address': {'streetAddress': '116 CASTLEWOOD ROAD, LONDON',
  'postalCode': 'N15 6BE'},
 'sources': ['ccew'],
 'links': [{'site': 'Find that Charity',
   'url': 'https://findthatcharity.uk/orgid/GB-CHC-1000007.json',
   'orgid': 'GB-CHC-1000007'},
  {'site': 'Charity Commission England and Wales',
   'url': 'https://register-of-charities.charitycommission.gov.uk/charity-details/?regId=1000007&subId=0',
   'orgid': 'GB-CHC-1000007'},
  {'site': 'CharityBase',
   'url': 'https://charitybase.uk/charities/1000007',
   'orgid': 'GB-CHC-1000007'},
  {'site': 'Giving is Great',
   'url': 'https://givingisgreat.org/charitydetail/?regNo=1000007',
   'orgid': 'GB-CHC-1000007'},
  {'site': 'Charities Direct',
   'url': 'http://www.charitychoice.co.uk/charities/search?t=qsearch&q=1000007',
   'orgid': 'GB-CHC-1000007'}],
 'orgIDs': ['GB-CHC-1000007'],
 'linked_records': [{'orgid': 'GB-CHC-1000007',
   'url': 'https://findthatcharity.uk/orgid/GB-CHC-1000007.json'}],
 'dateModified': '2023-08-08T02:01:05.390Z'}